<!DOCTYPE html>
<html lang="ko">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<link rel="shortcut icon" href="../../Content/img/favicon.ico" type="image/x-icon">
	<link rel="icon" href="../../Content/img/favicon.ico" type="image/x-icon">
	<meta property="og:url" content="" />
	<meta property="og:title" content="" />
	<meta property="og:description" content="" />
	<meta property="og:image" content="../../Content/img/og.jpg">
	<meta property="og:image:width" content="1200">
	<meta property="og:image:height" content="630">
	<meta name="viewport"
		content="width=device-width, initial-scale=1.0, user-scalable=no, height=device-height, maximum-scale=1.0" />
	<meta name="keyword" content="">
	<meta name="description" content="">
	<title>LG</title>
	<link rel="stylesheet" href="../../Content/css/slick.css">
	<link rel="stylesheet" href="../../Content/css/style.css">
	<script src="../../libs/jquery-2.1.4.min.js"></script>
	<script src="../../libs/slick-1.6.0.min.js"></script>
	<script src="../../libs/jquery.simplyscroll.js"></script>
</head>

<body>
	<div id="wrap">
		<div id="container">
			<!-- header -->
			<header>
				<div class="wrap">
					<div class="logo">
						<a href="#container" class="logo-img page-move"><img src="../../Content/img/common/logo.png"
								alt="" /></a>
					</div>

					<div id="menu">
						<a href="javascript:;" class="menu-icon">
							<span> </span>
							<span> </span>
							<span> </span>
						</a>
					</div>

					<nav id="gnb">
						<ul>
							<li><a href="#sectionTimeTable" class="page-move">타임테이블</a></li>
							<li><a href="#sectionSpeaker" class="page-move">연사소개</a></li>
							<li><a href="#sectionIssue" class="page-move">이슈토론</a></li>
							<li><a href="#sectionGuide" class="page-move">참가 가이드</a></li>
							<li><a href="#sectionEvent" class="page-move">이벤트</a></li>
						</ul>
					</nav>
				</div>
			</header>
			<!--// header -->

			<div id="contents">
				<div class="section section-visual" id="sectionVisual">
					<div class="wrap">
						<div class="visual motion-left-1"><img src="../../Content/img/common/visual.png" alt="" /></div>
						<div class="icon-line motion-left-2"><img src="../../Content/img/pc/icon_line.png" alt=""
								class="responsive" /></div>
						<p class="date motion-left-3">
							2021.10.07.(THU)
						</p>

						<p class="motion-left-4">
							라이브 스트리밍
						</p>
						<p class="motion-left-5">
							& 메타버스(Gathertown)
						</p>
					</div>
					<div class="character-group motion-right-6">
						<span class="blink"><img src="../../Content/img/common/blink_1.png" alt="" /></span>
						<span class="character"><img src="../../Content/img/common/character_1.gif" alt="" /></span>
					</div>
				</div>

				<div class="section section-teaser" id="sectionTeaser">
					<div class="wrap">
						<div class="maintitle motion-left-1">
							TEASER

							<div class="character-group motion-right-2">
								<span class="character">
									<img src="../../Content/img/common/character_2.gif" alt="" class="char-2" />
									<img src="../../Content/img/common/character_3.gif" alt="" class="char-3" />
								</span>
								<span class="blink"><img src="../../Content/img/common/blink_2.png" alt="" /></span>
							</div>

						</div>

						<div class="video-box  motion-left-3">
							<iframe src="https://www.youtube.com/embed/rJy9ai8EU_A" title="YouTube video player"
								frameborder="0"
								allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
								allowfullscreen></iframe>
						</div>


						<div class="maintitle motion-left-4" id="sectionTimeTable">
							TIME TABLE
							<div class="character-group motion-right-5">
								<span class="character">
									<img src="../../Content/img/common/character_4.gif" alt="" class="char-2" />
									<img src="../../Content/img/common/character_5.gif" alt="" class="char-3" />
								</span>
								<span class="blink blink-2"><img src="../../Content/img/common/blink_3.png"
										alt="" /></span>
							</div>
						</div>

						<div class="table-box motion-left-6">
							<table>
								<colgroup>
									<col style="width:20%" />
									<col style="width:auto" />
									<col style="width:20%" />
									<col style="width:20%" />
								</colgroup>
								<thead>
									<tr>
										<th>시간</th>
										<th>행사</th>
										<th>영상시청</th>
										<th>HP Expo 참여</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>08:20 ~ 08:30</td>
										<td class="bg-purple">Opening</td>
										<td rowspan="16" class="bg-ivory">HR Practice<br />(상시 운영)</td>
										<td rowspan="11"></td>
									</tr>
									<tr>
										<td colspan="2" class="colspan"><span class="icon-arrow"><img
													src="../../Content/img/common/icon_arrow_down.png"
													alt="" /></span>Keynote 1 그룹 방향 공유</td>
									</tr>
									<tr>
										<td>08:30 ~ 09:00</td>
										<td class="bg-purple">(1) 고객가치 제고를 위한 전략 방향 - 홍범식 사장 / 경영전략팀</td>
									</tr>
									<tr>
										<td>09:00 ~ 09:15</td>
										<td class="bg-purple">퀴즈 이벤트 및 휴식</td>
									</tr>
									<tr>
										<td>09:15 ~ 10:05</td>
										<td class="bg-purple">(2) LG가 만드는 AI 혁신 - 배경훈 원장 / AI연구원</td>
									</tr>
									<tr>
										<td>10:05 ~ 10:20</td>
										<td class="bg-purple">퀴즈 이벤트 및 휴식</td>
									</tr>

									<tr>
										<td colspan="2" class="colspan"><span class="icon-arrow"><img
													src="../../Content/img/common/icon_arrow_down.png"
													alt="" /></span>Keynote 2 전문가 특강</td>
									</tr>
									<tr>
										<td>10:20 ~ 11:20</td>
										<td class="bg-purple">직원경험 : 미래경쟁에서의 승리전략 - 장영균 교수 / 서강대학</td>
									</tr>
									<tr>
										<td>11:20 ~ 11:30</td>
										<td class="bg-purple">럭키드로우 및 개더타운 안내</td>
									</tr>
									<tr>
										<td colspan="2" class="colspan"><span class="icon-arrow"><img
													src="../../Content/img/common/icon_arrow_down.png"
													alt="" /></span>영상 시청 및 이벤트 참여</td>
									</tr>
									<tr>
										<td>11:30 ~ 13:00</td>
										<td class="bg-ivory">점심시간</td>

									</tr>
									<tr>
										<td>13:00 ~ 14:00</td>
										<td class="bg-ivory">Insight Session LG HR Practice</td>
										<td rowspan="5" class="bg-ivory" class="bg-ivory">HR Expo<br />(상시 운영)</td>
									</tr>

									<tr>
										<td colspan="2" class="colspan">
											<span class="icon-arrow"><img
													src="../../Content/img/common/icon_arrow_down.png" alt="" /></span>
											이슈토론
										</td>
									</tr>
									<tr>
										<td>14:00 ~ 14:50</td>
										<td class="bg-ivory">Introduction & 발제 발표</td>
									</tr>
									<tr>
										<td>14:50 ~ 15:00</td>
										<td class="bg-ivory">Break</td>
									</tr>
									<tr>
										<td>15:00 ~ 17:00</td>
										<td class="bg-ivory">소그룹 토의</td>
									</tr>
								</tbody>
							</table>
						</div>

					</div>

					<span class="floating-1-a"><img src="../../Content/img/common/floating_1.png" alt="" /></span>
					<span class="floating-2-a"><img src="../../Content/img/common/floating_2.png" alt="" /></span>
				</div>


				<div class="section section-speaker" id="sectionSpeaker">
					<div class="wrap">
						<div class="maintitle motion-left-1">
							연사소개
						</div>

						<div class="list-box">
							<ul>
								<li class="motion-up-2"><img src="../../Content/img/common/speaker_1.png" alt=""></li>
								<li class="motion-up-3"><img src="../../Content/img/common/speaker_2.png" alt=""></li>
								<li class="motion-up-4"><img src="../../Content/img/common/speaker_3.png" alt=""></li>
							</ul>
						</div>

						<div class="video-box motion-up-5">
							<img src="../../Content/img/common/comingsoon.png" alt="" />
							<!-- <iframe src="https://www.youtube.com/embed/rJy9ai8EU_A" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
						</div>

					</div>


					<span class="floating-1-b"><img src="../../Content/img/common/floating_1.png" alt="" /></span>
					<span class="floating-2-b"><img src="../../Content/img/common/floating_2.png" alt="" /></span>

				</div>


				<div class="section section-issue" id="sectionIssue">
					<div class="wrap">
						<div class="maintitle black motion-left-1">
							이슈토론
						</div>
						<div class="subtitle motion-left-2">
							LG HR의 변화와 혁신을 위한 새로운 시도와 과제에 대한 참여형 토론으로,<br class="pc" />
							내/외부 전문가, 주제에 관심있는 구성원 모두가 참여하는 Work-out 방식의 토론입니다.
						</div>

						<div class="img-box motion-left-3">
							<img src="../../Content/img/common/process.png" alt="" />
						</div>

					</div>
					<span class="floating-3-a"><img src="../../Content/img/common/floating_3.png" alt="" /></span>
					<span class="floating-4-a"><img src="../../Content/img/common/floating_4.png" alt="" /></span>
				</div>

				<div class="section section-debate" id="sectionDebate">
					<div class="wrap">
						<div class="maintitle black motion-left-1">
							토론주제
						</div>
						<div class="list-box">
							<ul>
								<li class="motion-up-2"><a href="javascript:;"><img
											src="../../Content/img/common/debate_1.png" alt="" /></a></li>
								<li class="motion-up-3"><a href="javascript:;"><img
											src="../../Content/img/common/debate_2.png" alt="" /></a></li>
								<li class="motion-up-4"><a href="javascript:;"><img
											src="../../Content/img/common/debate_3.png" alt="" /></a></li>
								<li class="motion-up-5"><a href="javascript:;"><img
											src="../../Content/img/common/debate_4.png" alt="" /></a></li>
								<li class="motion-up-6"><a href="javascript:;"><img
											src="../../Content/img/common/debate_5.png" alt="" /></a></li>
								<li class="motion-up-7"><a href="javascript:;"><img
											src="../../Content/img/common/debate_6.png" alt="" /></a></li>
							</ul>
						</div>
						<div class="text-box motion-left-8">
							> 선택하신 주제를 클릭하여 입장 바랍니다.
						</div>
					</div>
				</div>

				<div class="section section-practice" id="sectionPractice">
					<div class="wrap">
						<div class="maintitle motion-left-1">
							HR PRACTICE
						</div>
						<div class="faq-box  motion-left-2">
							<div class="faq-list">
								<dl>
									<dt>
										<a href="javascript:;" class="fag-toggle">
											채용 브랜드 향상
										</a>
									</dt>
									<dd>
										<img src="../../Content/img/pc/faq_1.png" alt="" class="responsive" />
									</dd>
								</dl>
								<dl>
									<dt>
										<a href="javascript:;" class="fag-toggle">
											우수 인재 확보
										</a>
									</dt>
									<dd>
										<img src="../../Content/img/pc/faq_2.png" alt="" class="responsive" />
									</dd>
								</dl>
								<dl>
									<dt>
										<a href="javascript:;" class="fag-toggle">
											HRD 패러다임 Shift
										</a>
									</dt>
									<dd>
										<img src="../../Content/img/pc/faq_3.png" alt="" class="responsive" />
									</dd>
								</dl>
								<dl>
									<dt>
										<a href="javascript:;" class="fag-toggle">
											역량/직무가치 중심 인사
										</a>
									</dt>
									<dd>
										<img src="../../Content/img/pc/faq_4.png" alt="" class="responsive" />
									</dd>
								</dl>
								<dl>
									<dt>
										<a href="javascript:;" class="fag-toggle">
											Speak-up 문화 구축
										</a>
									</dt>
									<dd>
										<img src="../../Content/img/pc/faq_5.png" alt="" class="responsive" />
									</dd>
								</dl>
								<dl>
									<dt>
										<a href="javascript:;" class="fag-toggle">
											직원 경험 혁신 HR 신규 역량
										</a>
									</dt>
									<dd>
										<img src="../../Content/img/pc/faq_6.png" alt="" class="responsive" />
									</dd>
								</dl>
							</div>
						</div>
					</div>
				</div>

				<div class="section section-insight" id="sectionInsight">
					<div class="wrap">
						<div class="maintitle purple motion-left-1">
							INSIGHT
						</div>

						<div class="list-box">
							<ul>
								<li class="motion-up-2"><img src="../../Content/img/common/insight_1.png" alt=""></li>
								<li class="motion-up-3"><img src="../../Content/img/common/insight_2.png" alt=""></li>
								<li class="motion-up-4"><img src="../../Content/img/common/insight_3.png" alt=""></li>
								<li class="motion-up-5"><img src="../../Content/img/common/insight_4.png" alt=""></li>
							</ul>
						</div>


					</div>
				</div>

				<div class="section section-expo" id="sectionIExpo">
					<div class="wrap">
						<div class="maintitle purple motion-left-1">
							HR EXPO
						</div>
						<div class="list-box">
							<ul>
								<li class="motion-up-2"><span>제네시스랩</span></li>
								<li class="motion-up-3"><span>무하유</span></li>
								<li class="motion-up-4"><span>디디캐스트</span></li>
								<li class="motion-up-5"><span>클라썸</span></li>
								<li class="motion-up-6"><span>코드잇</span></li>
								<li class="motion-up-7"><span>태니지먼트</span></li>
								<li class="motion-up-8"><span>패스트캠퍼스</span></li>
								<li class="motion-up-9"><span>트로스트</span></li>
							</ul>
						</div>
						<a href="javascript:;" class="btn-link motion-up-10">가상 LG인화원 바로가기</a>

					</div>
				</div>


				<div class="section section-guide" id="sectionGuide">
					<div class="wrap">
						<div class="maintitle motion-left-1">
							게더타운 사용 가이드
						</div>
						<div class="list-box">
							<ul>
								<li class="motion-up-2">
									<span class="step">STEP1</span>
									<span class="desc">이슈토론<br />‘입장하기’ 클릭</span>
								</li>
								<li class="motion-up-2">
									<span class="icon-step"><img src="../../Content/img/common/icon_step.png"
											alt="" /></span>
								</li>
								<li class="motion-up-3"><span class="step">STEP2</span><span class="desc">아바타
										설정</span><br />&nbsp;</li>
								<li class="motion-up-3">
									<span class="icon-step"><img src="../../Content/img/common/icon_step.png"
											alt="" /></span>
								</li>
								<li class="motion-up-4"><span class="step">STEP3</span><span class="desc">닉네임
										설정<br />*(예시) LG인화원/홍길동</span></li>
								<li class="motion-up-4">
									<span class="icon-step"><img src="../../Content/img/common/icon_step.png"
											alt="" /></span>
								</li>
								<li class="motion-up-5"><span class="step">STEP4</span><span class="desc">카메라,
										마이크,<br />스피커 설정</span></li>
								<li class="motion-up-5">
									<span class="icon-step"><img src="../../Content/img/common/icon_step.png"
											alt="" /></span>
								</li>
								<li class="motion-up-6"><span class="step">STEP5</span><span class="desc">가상
										LG인화원<br />입장</span></li>
							</ul>
						</div>
					</div>
					<span class="floating-3-b"><img src="../../Content/img/common/floating_3.png" alt="" /></span>
					<span class="floating-4-b"><img src="../../Content/img/common/floating_4.png" alt="" /></span>
				</div>


				<div class="section section-tip" id="sectionTip">
					<div class="wrap">
						<div class="list-box">
							<ul>
								<li class="motion-up-1">
									<div class="maintitle purple">
										게더타운<br />조작<br />TIP!
									</div>
								</li>
								<li class="motion-up-2"><img src="../../Content/img/common/tip_1.png" alt=""></li>
								<li class="motion-up-3"><img src="../../Content/img/common/tip_2.png" alt=""></li>
								<li class="motion-up-4"><img src="../../Content/img/common/tip_3.png" alt=""></li>
								<li class="motion-up-5"><img src="../../Content/img/common/tip_4.png" alt=""></li>
								<li class="motion-up-6"><img src="../../Content/img/common/tip_5.png" alt=""></li>
							</ul>
						</div>
					</div>
				</div>

				<div class="section section-event" id="sectionEvent">
					<div class="wrap">
						<div class="maintitle motion-left-1">
							LG인재개발대회<br />
							EVENT
						</div>
						<div class="tab-box motion-left-2">
							<ul class="tab-list">
								<li class="active">
									<a href="javascript:;">
										<span>EVENT 1</span>
										<strong>사전오픈<br />보물찾기 이벤트</strong>
									</a>
								</li>
								<li>
									<a href="javascript:;">
										<span>EVENT 2</span>
										<strong>실시간 라이브<br />퀴즈 이벤트</strong>
									</a>
								</li>
								<li>
									<a href="javascript:;">
										<span>EVENT 3</span>
										<strong>메타버스<br />방명록 이벤트</strong>
									</a>
								</li>
								<li>
									<a href="javascript:;">
										<span>EVENT 4</span>
										<strong>HR Practice<br />우수 사례 이벤트</strong>
									</a>
								</li>
							</ul>
							<div class="tab-view">
								<div class="event-box">
									<div class="title">
										가상의 LG인화원 곳곳에<br />
										<strong class="highlight">숨겨진 보물</strong>을 찾아 이벤트에 참가해주세요.
									</div>
									<div class="method">
										<ul>
											<li class="multi">
												<span class="num">1</span> 신청하신 이슈토론 입장하기 또는 바로가기 버튼을 통해<br
													class="pc" />
												가상 LG인화원에 접속해주세요.
											</li>
											<li>
												<span class="num">2</span> LG인화원 곳곳에 숨겨진 보물을 찾아 힌트를 풀어주세요.
											</li>
											<li>
												<span class="num">3</span> 정문으로 이동해 찾은 보물 속 퀴즈의 답변을 제출해 주세요.
											</li>
											<li>
												<span class="num">4</span> 정답을 많이 맞춘 분들께 추첨을 통해 선물을 드립니다.
											</li>
										</ul>
									</div>
								</div>
								<div class="gift-box">
									<div class="title">추첨을 통해 선물을 드립니다.</div>
									<img src="../../Content/img/common/gift_1.png" alt="" />
								</div>

								<span class="character-6">
									<img src="../../Content/img/common/character_6.gif" alt="">
								</span>
								<span class="character-7">
									<img src="../../Content/img/common/character_7.gif" alt="">
								</span>
							</div>
							<div class="tab-view">
								<div class="event-box">
									<div class="title">
										오전 라이브에서 실시간으로 진행하는<br />
										<strong class="highlight">퀴즈이벤트</strong>에 참가해주세요.
									</div>
									<div class="method">
										<ul>
											<li>
												<span class="num">1</span> 라이브 세션에 참여해 주세요.
											</li>
											<li>
												<span class="num">2</span> 실시간으로 진행되는 퀴즈에 참여해주세요.
											</li>
											<li>
												<span class="num">3</span> 퀴즈에 한 번만 참여하셔도 이벤트 응모 완료!
											</li>
											<li>
												<span class="num">4</span> 실시간 라이브 추첨을 통해 선물을 드립니다.
											</li>
										</ul>
									</div>
								</div>
								<div class="gift-box">
									<div class="title">
										추첨을 통해 1회만 참여해도 커피쿠폰을<br />
										3회 모두 참여하면 빔 프로젝터를 드립니다.
									</div>
									<img src="../../Content/img/common/gift_2.png" alt="" />
								</div>

								<span class="character-6">
									<img src="../../Content/img/common/character_6.gif" alt="">
								</span>
								<span class="character-7">
									<img src="../../Content/img/common/character_7.gif" alt="">
								</span>
							</div>
							<div class="tab-view">
								<div class="event-box">
									<div class="title">
										가상 LG인화원을 방문한 소감을<br />
										방명록에 남겨주세요.
									</div>
									<div class="method">
										<ul>
											<li class="multi">
												<span class="num">1</span> 신청하신 이슈토론 입장하기 또는 바로가기 버튼을 통해<br
													class="pc" />
												가상 LG인화원에 접속해주세요.
											</li>
											<li>
												<span class="num">2</span> LG인화원 정문 방명록 앞에서 키보드 X키를 눌러주세요.
											</li>
											<li>
												<span class="num">3</span> 소속/이름과 함께 방명록을 남겨주시면 이벤트 응모 완료!
											</li>
											<li>
												<span class="num">4</span> 행사 종료 후, 추첨을 통해 선물을 드립니다.
											</li>
										</ul>
									</div>
								</div>
								<div class="gift-box">
									<div class="title">
										추첨을 통해 선물을 드립니다.
									</div>
									<img src="../../Content/img/common/gift_3.png" alt="" />
								</div>

								<span class="character-6">
									<img src="../../Content/img/common/character_6.gif" alt="">
								</span>
								<span class="character-7">
									<img src="../../Content/img/common/character_7.gif" alt="">
								</span>
							</div>
							<div class="tab-view">
								<div class="event-box">
									<div class="title">
										메타버스에 전시된 HR Practice 영상을 시청 후,<br />
										투표의 전당을 참여해주세요.
									</div>
									<div class="method">
										<ul>
											<li>
												<span class="num">1</span> LG인화원에서 연암홀을 찾아주세요.
											</li>
											<li>
												<span class="num">2</span> HR Practice 존에 전시된 영상을 시청해주세요.
											</li>
											<li>
												<span class="num">3</span> 관심있는 영상을 모두 시청 후, 영상별로 댓글을 남겨주세요.
											</li>
											<li>
												<span class="num">4</span> 투표의 전당에서 투표를 하시면 이벤트 응모 완료!
											</li>
											<li>
												<span class="num">5</span> 행사 종료 후, 추첨을 통해 선물을 드립니다.
											</li>
										</ul>
									</div>
								</div>
								<div class="gift-box">
									<div class="title">
										추첨을 통해 선물을 드립니다.
									</div>
									<img src="../../Content/img/common/gift_4.png" alt="" />
								</div>

								<span class="character-6">
									<img src="../../Content/img/common/character_6.gif" alt="">
								</span>
								<span class="character-7">
									<img src="../../Content/img/common/character_7.gif" alt="">
								</span>
							</div>
						</div>
					</div>
				</div>


			</div>

			<footer>
				<div class="footer-logo">
					<img src="../../Content/img/common/f_logo.png" alt="" />
				</div>
			</footer>
		</div>

		<div class="dim"></div>

	</div>
	<script src="../../js/script.js"></script>
</body>

</html>