<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" href="../../Content/img/favicon.ico" type="image/x-icon">
    <link rel="icon" href="../../Content/img/favicon.ico" type="image/x-icon">
    <meta property="og:url" content="" />
    <meta property="og:title" content="" />
    <meta property="og:description" content="" />
    <meta property="og:image" content="../../Content/img/og.jpg">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="630">
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0, user-scalable=no, height=device-height, maximum-scale=1.0" />
    <meta name="keyword" content="">
    <meta name="description" content="">
    <title>LG</title>
    <link rel="stylesheet" href="../../Content/css/slick.css">
    <link rel="stylesheet" href="../../Content/css/style.css">
    <script src="../../libs/jquery-2.1.4.min.js"></script>
    <script src="../../libs/slick-1.6.0.min.js"></script>
    <script src="../../libs/jquery.simplyscroll.js"></script>
</head>

<body>
    <div id="wrap">
        <div id="container">
            <div id="contents">
                <div class="section section-login" id="sectionLogin">
                    <div class="wrap">
                        <div class="title">
                            <img src="../../Content/img/common/visual.png" alt="" />
                        </div>
                        <div class="form-group">
                            <div class="character"><img src="../../Content/img/common/character_1.gif" alt="" /></div>
                            <div class="form-list">
                                <p class="form-text">이름</p>
                                <div class="form-control">
                                    <input type="text" class="text" placeholder="">
                                </div>
                            </div>
                            <div class="form-list">
                                <p class="form-text">이메일</p>
                                <div class="form-control">
                                    <input type="email" class="text" placeholder="*회사 이메일을 입력해주세요.">
                                </div>
                            </div>
                            <div class="action">
                                <a href="javascript:void(0);" class="btn-login">참가하기</a>
                            </div>
                        </div>
                    </div>

                    <!-- <div class="character-group">
					<span class="blink"><img src="../../Content/img/common/blink_1.png" alt="" /></span>
					<span class="character"><img src="../../Content/img/common/character_1.gif" alt="" /></span>
				</div> -->
                </div>
            </div>
        </div>
    </div>
    <script src="../../js/script.js"></script>
</body>

</html>