.dimmed, .dim {
    display: none;
    position: fixed;
    top: 0; 
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background-color: rgba( 0, 0, 0, .7);
}

.dimmed{ z-index: 1003;}

.popup {
    display: none;
    position: absolute;
    top: 30%;
    left: 50%;
    z-index: 1004;
    width: 100%;
    text-align:center;
    background: #fff;
   
    @include boxSizing( border-box);
    @include translateX(-50%);
    @include breakpoint(maxMobile){
        max-width: 830px;
    }

    &-title {
        span {
            display: block;
            font-weight:700;
            @include vw(30px);
			color:#1c1c1c;
            &.text-2 { @include vw(24px); color:#5d5d5d;}
            @include breakpoint(maxMobile){
                font-size:25px;
                &.text-2 { font-size:16px;}
            }
        }

        .highlight{
            color:#e7528c;font-weight:700; @include vw(40px);
            @include breakpoint(maxMobile){
                font-size:25px;
            }
        }
    }

    &-btn {
        @include rem(margin-top, 100px);
        font-size:0;
        a{
            position: relative;
            display: inline-block;
            width: 100%;
            @include rem(padding, 34px 0);
            text-align: center;
            @include vw(36px);
            font-weight: 700;
            color:#fff;background-color:#000;
            &:first-child{background-color:#000;}
            @include boxSizing(border-box);
            @include breakpoint(desktop){
                padding: 18px 0;
                font-size: 22px;
                border-width: 1px;
            }
            &.btn-print{display:none;}
        }
    }

    &-close {
        position:absolute;right:0px;top:0px;z-index:3;
        cursor: pointer;
        @include closeButton(transparent,20px, 2px, #000);
        @include breakpoint(maxMobile){
            @include closeButton(transparent,30px, 2px, #000);
        }
        
    }


    &-date{
        font-weight:700;@include vw(36px);@include rem(padding,60px 0);color:#06c755;
        text-align:left;@include rem(padding-left, 20px);line-height:1;
        &.next{color:#0080ff;border-top:9px solid #000;}
        strong{font-size:42px;font-weight:900;line-height:1;}
        @include breakpoint(maxMobile){
            font-size:27px;
            strong{font-size:70px;}
        }
    }

    &-cont{
        @include rem(padding, 0 20px);

        .table-box{
            @include rem(padding-bottom, 60px);
            table{
                width:100%;border:none;
                th,td{
                    padding:10px;color:#000;@include vw(30px);
                    text-align:center;
                    @include breakpoint(maxMobile){
                        font-size:18px;
                    }
                }

                th{
                    font-weight:700; 
                    
                }
                thead{
                    th{
                        border-bottom:3px solid #000;font-weight:900;
                        &:last-child{text-align:left;}
                    }
                }
                tbody{
                   
                    tr{
                        border-top:1px solid #dedede;
                        th,td{
                            padding:10px 10px;
                        }

                        th{text-align:center;}
      
                        td{
                            strong{font-weight:700;}
                            p{
                                color:#636363;@include vw(24px);
                                @include breakpoint(maxMobile){
                                    font-size:16px;
                                }
                            }
                            &:last-child{text-align:left;}
                        }

                        &.time{
                            th,td{
                                color:#06c755;font-weight:700;
                            }
                           
                        }
                    }
                    tr{
                        &:first-child+tr{border-top:none;}
                    }
                }
            }
        }

        &.next{
           .table-box{
                tbody{
                    tr.time th, tr.time td{color:#0080ff;}
                } 
            }
        }
    }
}
